<div class="modal fade" id="addCityModal" tabindex="-1" aria-labelledby="addCityModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCityModalLabel">Dodaj nowe miasto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="newCityName" class="form-label">Nazwa miasta</label>
            <input type="text" class="form-control" name="name" id="newCityName" placeholder="Wpisz nazwę miasta" required>
          </div>
          <div id="addCityError" class="text-danger d-none">Błąd dodawania miasta!</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-primary" data-url="{% url 'blog:add_city' %}" id="saveCityButton">Zapisz</button>
      </div>
    </div>
  </div>
</div>