{% extends "blog/base.html" %}

{% block content %}
<div class="container mt-3">
  <h2>Lista restauracji</h2>
  <div class="accordion" id="restaurantAccordion">
    {% for restaurant in restaurants %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ restaurant.id }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ restaurant.id }}" aria-expanded="false" aria-controls="collapse{{ restaurant.id }}">
          {{ restaurant.name }}
        </button>
      </h2>
      <div id="collapse{{ restaurant.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ restaurant.id }}" data-bs-parent="#restaurantAccordion">
        <div class="accordion-body">
          <ul>
            {% for post in restaurant.posts.all %}
            <li>
  <a href="#">
    <strong>{{ post.created }}</strong></a>
</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
