{% extends "blog/base_sidebar_narrow.html" %}
{% block title %}Aktualności{% endblock %}

{% block content %}
{% include "blog/modal/add_country_modal.html" %}



 <div class="container mt-5">
        <!-- Nagłówek posta -->
        <div class="card">
            <div class="card-header">
                <h3>{{ post.title }}</h3>
                <p><small>Opublikowano: {{ post.created|date:"d M Y, H:i" }}</small></p>
            </div>
            <div class="card-body">
                <!-- Treść posta -->
                <p class="card-text">{{ post.body }}</p>

                <!-- Wyświetlanie zdjęć powiązanych z postem -->
                <h4>Zdjęcia:</h4>
                <div class="row">
                    {% for image in post.images.all %}
                        <div class="col-md-4">
                            <img src="{{ image.image.url }}" class="img-fluid rounded mb-3" alt="{{ image.title }}">
                            <p><strong>{{ image.title }}</strong></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>





{% endblock %}