{% extends "blog/base_sidebar_narrow.html" %}
{% block title %}Aktualności{% endblock %}

{% block content %}
{% include "blog/modal/add_country_modal.html" %}
  <div class="text-center">
    <h2 class="mb-4">{{ post.title }}</h2>
</div>
  <!-- Karuzela -->
<div class="row align-items-center"">
  <div class="col-6 mx-auto">
    <div id="carouselExampleCaptions" class="carousel slide shadow rounded" data-bs-ride="carousel">
      <!-- Wskaźniki -->
      <div class="carousel-indicators">
        {% for image in images %}
          <button type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="{{ forloop.counter0 }}"
                  {% if forloop.first %}class="active" aria-current="true"{% endif %}
                  aria-label="Slajd {{ forloop.counter }}">
          </button>
        {% endfor %}
      </div>
      <!-- Slajdy -->
      <div class="carousel-inner rounded">
        {% for image in images %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="data:image/jpeg;base64,{{ image.base64 }}" class="d-block w-100" alt="Zdjęcie {{ forloop.counter }}">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ image.title }}</h5>
              <p>{{ image.date }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- Strzałki -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Poprzedni</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Następny</span>
      </button>

    </div>
  </div>
    </div>
  <!-- Tekst posta -->
  <div class="text-center">
    <p class="lead">{{ post.body }}</p>
  </div>




<!--  <h1>Ocena Restauracji</h1>-->

<!--<div class="stars">-->
<!--  {% for i in range(1, 5) %}-->
<!--    <span class="star star-filled">&#9733;</span> &lt;!&ndash; Złota gwiazdka &ndash;&gt;-->
<!--  {% endfor %}-->

<!--  {% for i in range(5 + 1, 7) %}-->
<!--    <span class="star star-empty">&#9733;</span> &lt;!&ndash; Pusta szara gwiazdka &ndash;&gt;-->
<!--  {% endfor %}-->
<!--</div>-->




{% endblock %}