{% extends "blog/base_sidebar_narrow.html" %}
{% block title %}Aktualności{% endblock %}


{% block content %}
{% include "blog/modal/add_country_modal.html" %}


<form method="POST" action="{% url 'blog:upload_photo' %}" enctype="multipart/form-data">
    {% csrf_token %}


<label for="formFileMultiple" class="form-label">Multiple files input example</label>
<input class="form-control" type="file" id="formFileMultiple" name="formFileMultiple" multiple />
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
</form>
{% endblock %}