.wrapper{
    height: 100vh;
}

.sidebar{
    background-color: #0e2238;
    height: 200px;
}

.sidebar.content{
border: 5px solid red;
}



.footer {
    height: 60px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

.main-container{
   background-color: #b9d8fa;

/*   background-image: url("{% static 'img/background.svg' %}");*/
/*    border: 5px solid red;*
}