.wrapper{
    height: 100vh;
}

.sidebar{
background-color: #0e2238;
    height: flex;
    color: black;
}

.sidebar.content{
border: 5px solid red;
}



.footer {
    height: 60px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

.main-container{
   background-color: #b9d8fa;
}
/*   background-image: url("{% static 'img/background.svg' %}");*/
/*    border: 5px solid red;*/


.sidebar-header{
color: white;
 font-size: 2em; /* Czcionka będzie 1.5x większa od rodzica */
}


  .accordion-item {
    background-color: transparent; /* Ciemne tło dla elementów panelu */
     border: none;
  }
  .accordion-button {
    color: white; /* Biały tekst przycisków */
     border: none;
     background-color: transparent;
  }
  .accordion-button:not(.collapsed) {
    background-color: transparent; /* Lżejszy kolor przy rozwinięciu */
    color: white;
     border: none;
  }
  .accordion-button::after {
    color: white; /* Biały kolor strzałek */
     border: none;
  }
  .accordion-button:not(.collapsed)::after {
    transform: rotate(180deg); /* Obrót strzałki przy rozwinięciu */
  }
