
aside {
    width: 260px;
    min-width: 260px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;

}

/* Zmiana koloru tła dla całego accordion */
#restaurantAccordion {
  background-color: transparent; /* Jasny kolor tła, np. AliceBlue */
   border: none; /* Usunięcie obramowania */
  color: #FFF;
  padding: 1rem; /* Opcjonalne odstępy wewnętrzne */

}

/*Stylowanie dla poszczególnych elementów accordion-item */
.accordion-item {
  background-color: transparent;  /*Tło dla każdego elementu */
  border: none;
  margin-bottom: 0.5rem;
}

.accordion-button.collapsed {
  background-color: transparent; /* Kolor tła przycisku po złożeniu */
  border: none;
    color: #FFF;
}


/* Stylowanie przycisków accordion-button */
.accordion-button {
  background-color: transparent; /* Kolor tła przycisku */
  color: #FFF; /* Kolor tekstu */
  border: none;
    box-shadow: none; /* Usuwa cień wokół przycisku */

}

/* Stylowanie dla rozwijanej sekcji accordion-collapse */
.accordion-collapse {
  background-color: transparent; /* Tło dla zawartości po rozwinięciu */
  padding: 0.5rem;

}

/* Stylowanie tytułu przycisku rozwiniętego accordion (bez tła) */
.accordion-button:not(.collapsed) {
    background-color: transparent; /* Brak tła dla rozwiniętego tytułu */
    border: none;
    color: #FFF;
}

/* Usunięcie niebieskiej ramki (outline) z przycisków i elementów po kliknięciu */
.accordion-button:focus {
    outline: none;  /* Usuwa niebieską ramkę po kliknięciu */
    box-shadow: none; /* Usuwa cień, który może być również dodany */
}

/* Stylowanie dla <strong> wewnątrz <a> w kontenerze <aside> */
aside a strong {
    color: white;  /* Kolor tekstu <strong> w <a> wewnątrz <aside> */
}

/* Zwiększenie odstępów wewnętrznych w linku */
aside li {
    margin-bottom: 15px; /* Zwiększa odstęp między kolejnymi elementami <li> */
}

